.multi-queens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: inline-block;
}

.queens-title{
	text-transform: uppercase;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.padding-xs { padding: .25em; }

/*@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}*/